@font-face {
    font-family: 'HurmeGeometricSans1-Bold';
    src: url('font/HurmeGeometricSans1-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'HurmeGeometricSans1';
    src: url('font/HurmeGeometricSans1.otf') format('opentype');
}

@font-face {
    font-family: 'HurmeGeometricSans1-Thin';
    src: url('font/HurmeGeometricSans1-Thin.otf') format('opentype');
}

h1 {
    font-family: 'HurmeGeometricSans1-Bold';
    font-size: 100px;
    max-width: 90vw;
}

h2 {
    font-family: 'HurmeGeometricSans1-Bold';
    font-size: 50px;
}

p {
    font-family: 'HurmeGeometricSans1';
    max-width: 90vw;
    font-size: 20px;
}

ul {
    font-family: 'HurmeGeometricSans1';
    max-width: 90vw;
}

small {
    font-family: 'HurmeGeometricSans1-Thin';
    max-width: 90vw;
    font-size: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
    max-width: 90vw;
}

b {
    font-family: 'HurmeGeometricSans1-Bold';
    max-width: 50vw;
}


.text {
    max-width: 90vw;
}

.description {
    font-family: 'HurmeGeometricSans1-Thin';
    font-size: normal;
}

.topic {
    font-family: 'HurmeGeometricSans1-Thin';
    font-size: 40px;
    background-color: #383838;
    padding: 5px;
    margin: 5px;
    width: 90%;
    border-radius: 10px ;
    text-align: center;
}

.link2 {
    background-color:  #66936c;
    padding: 2px;
    margin: 2px;
    width: 120px;
    border-radius: 5px ;
    text-align: center;
}

.accepted {
    font-family: 'HurmeGeometricSans1-Thin';
    font-size: 20px;
    background-color: #c96e00;
    padding: 3px;
    width: 70px;
    border-radius: 5px ;
    text-align: center;
    display: inline;
}

.poster {
    font-family: 'HurmeGeometricSans1-Thin';
    font-size: 20px;
    background-color: #006fc9;
    padding: 3px;
    width: 70px;
    border-radius: 5px ;
    text-align: center;
    display: inline;
}

.paper {
    font-family: 'HurmeGeometricSans1-Thin';
    font-size: 20px;
    background-color: #6b00c9;
    padding: 3px;
    width: 70px;
    border-radius: 5px ;
    text-align: center;
    display: inline;
}

.year {
    font-family: 'HurmeGeometricSans1-Thin';
    font-size: 20px;
    background-color: #315042;
    padding: 3px;
    width: 70px;
    border-radius: 5px ;
    text-align: center;
    display: inline;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: white;
    scroll-behavior: smooth;
    text-align: justify;
}

section {
    position: relative;
    width: 100%;
}

.next-section {
    display: none;
    position:absolute;
    bottom: 100px;
    right: 100px;
    font-size: 5em;
    color: white;
    transition: transform 0.3s ease-in-out; /* Add a transition effect */
}

.next-section:hover {
    transform: scale(1.3); /* Scale the image up when hovered */
}

.prev-section {
    display: none;
    position: absolute;
    top: 75px;
    right: 100px;
    font-size: 5em;
    color: white;
    transition: transform 0.3s ease-in-out; /* Add a transition effect */
}

.prev-section:hover {
    transform: scale(1.3); /* Scale the image up when hovered */
}

.social-links a {
    margin-right: 10px;
    text-decoration: none;
    color: inherit;
}

.social-links .fa-2x {
    font-size: 75px; /* Adjust as needed */
    padding-bottom: 50px;
}

.social-img {
    padding-right: 50px;
}

.topics {
    max-width: 90vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}


.header-right {
    display: none;;
}


.header-img {
    height: 70px;
    padding: 20px;
}

.logo {
    bottom: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.profile-img-container {
    position: relative;
    width: 80vw;
    height: 80vw;
    top: 50%;
    left: 45%;
    transform: translate(-50%, 0);
}
.profile-img {
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text{
    font-family: 'HurmeGeometricSans1';
}

.rune{
    width: 90px;
    display: none;
}


.secret {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
}

.secret-img{
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 70px;
    justify-content: center;
    align-items: center;
}

.grid-item {
    position: relative;
    width: 600px; /* Set a specific width */
    height: 600px; /* Set a specific height */
    overflow: hidden;
    border-radius: 50%;
}

.grid-item img {
    width: 100%;
    height: 100%; /* Make the image fill its container */
    object-fit: cover; /* Resize the image to maintain its aspect ratio while filling the container */
    transition: .3s ease;
}

.grid-item .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2); /* Add a semi-transparent background */
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: .3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.grid-item:hover .overlay {
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.grid-item .overlay .title {
    color: white;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px; /* Add a space below the title */
}

.grid-item .overlay .text {
    max-width: 300px;
    color: white;
    position: absolute;
    font-size: 40px;
    text-align: center;
    width: 100%; /* Make the text span the full width of the grid item */
    display: none; /* Hide the text by default */
    transition: .3s ease; /* Add a transition */
}

.grid-item:hover .overlay .title {
    display: none; /* Make the title transparent when the mouse hovers over the grid item */
}

.grid-item:hover .overlay .text {
    display: block; /* Show the text when the mouse hovers over the grid item */
}

#secret {
    background-color: #2C302E ; /*#750D37;*/
}

#header {
    background-color: #2C302E;
    padding: 20px;
    padding-left: 100px;
    padding-bottom: 100px;
    
}

#header .content {
    flex: 1;
}

#about-me {
    background-color: #474A48;
    padding: 20px;
    padding-left: 100px;
    padding-bottom: 100px;
}

#publications {
    background-color: rgb(109, 109, 109);
    padding: 20px;
    padding-left: 100px;
    padding-bottom: 100px;
}

#current-project {
    display: none;
    background-color: #426A5A;
    padding: 20px;
    padding-left: 100px;
    padding-bottom: 100px;

}

#experience {
    background-color: #2f3d37;
    padding: 20px;
    padding-left: 100px;
    padding-bottom: 100px;
}