* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
}

header {
    background-color: white;
    padding-left: 4rem;
    padding-top: 4rem;
    text-align: left;
}

header h1 {
    color: #4e4e4e;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.protected-email {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: default;
    text-decoration: none;
    color: #0077ff;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 4rem;
}

.blog-tile {
    position: relative;
    background-color: white;
    border: 1px solid lightgrey;
    padding: 1.5rem;
    padding-top: 2rem;
    border-radius: 8px;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    min-height: 250px;
}


.blog-tile:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.blog-tile h2 {
    color: #272727;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.blog-tile h3 {
    color: #575757;
    margin-bottom: 0.5rem;
}

.blog-tile p {
    color: #666;
    margin-bottom: 1rem;
}

.blog-tile a {
    margin-top: auto;
    color: #0077ff;
    text-decoration: none;
    font-weight: bold;
}

.blog-tile a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
        padding: 1rem;
    }
}

.category {
    position: absolute;
    top: -1px; 
    right: -1px;
    padding: 4px 10px;
    border-radius: 0 0 0 5px;
    font-size: 0.7rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.category.about {
    background-color: #4CAF50;
}

.category.research {
    background-color: #6b21f3;
}

.category.projects {
    background-color: #FF9800;
}

.category.teaching {
    background-color: #d96cdd;
}

.category.poster {
    background-color: #993800;
}

.category.blog {
    background-color: #0077ff;
}